<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 我的 </title>
    <link rel="stylesheet" href="./Main/Main.css">
    <!--<link rel="stylesheet" href="./strapdown/strapdown.css">-->
    <script src="./Main/Main.js">  </script>
    <script src="./strapdown/strapdown.js"></script>
    <!--引入 vue-->
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script>
        loadData();
    </script>
</head>
<body>
    <div class="bgView">
        <div class="leftView">
            <div class="headView">
                <div class="headImageView"></div>
                <div class="headTitleView">
                    {{ headTitle}}
                </div>
            </div>
            <div class="leftTitlesView">
                <dl class="leftTitltTV" v-if="isShowInfos">
                    <button class='leftTitltTVCell' v-for='info in infos' v-on:click='titleOnClick(info)'>
                        {{info.title}}
                    </button>
                </dl>
            </div>

        </div>
        <div class="rightView">
        </div>
    </div>
    <script src="./Main/Main.js"></script>
</body>
</html>