
:root{
    --leftViewWidth:200px;
    --leftHeadViewWidth:170px;
}
html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height:100%;

    text-align: center;
}

.bgView{

    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height:100%;
    background-size: 100% 100%;
}

/* =========== 左边 =========== */
.leftView{

    text-align: center;
    width: var(--leftViewWidth);

    background-color: yellow;
}
.headView{

    /* vw:视窗单位, 宽高共同的标准 */
    /*width: 20vw;*/
    width: 100%;
    height: 260px;
    margin: 30px 0 0 0;

    line-height: 260px;
    /*background-color: black;*/
}
.headImageView{

    width: var(--leftHeadViewWidth);
    height: calc(var(--leftHeadViewWidth)*1.4);
    margin: 0 calc((var(--leftViewWidth) - var(--leftHeadViewWidth))/2);
    background-image: url("../Resource/header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-color: white;*/
}
.headTitleView{

    text-align: center;
    width: 100%;
    height:40px;
    line-height: 40px;
    /*background-color: green;*/
}

.leftTitlesView{

    padding: 0 10px;
}

.leftTitltTV{
    padding: 1px 0;
    background-color: lightgray;
}

.leftTitltTVCell{
    width: var(--leftHeadViewWidth);
    background-color: white;
    border: 1px solid lightgray;
}

.leftTitltTVCell:hover{
    background-color: inherit;
}


/* =========== 右边 =========== */
.rightView{
    padding: 20px;
    display: block;
    width: calc(100%-150px);
    height:100%;
    text-align: left;
    background-color: white;
}